doctype html
html
    head
        title Data Runner. io  
        link(rel='stylesheet' href ='style.css')
    body
        #homegrid
        
        #head
            h3 Welcome Runner_Data.io 
                p Enhance your running training plan.
        hr    
        #main1
            block content
        br
        hr
        #foot 
            p Copyright &copy Mike Maquera, 2019

        
    